---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "¿Que es manos hablan?",
	description: "¿Que es manos hablan? Dicionario de señas",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none xl:col-span-2">
		<h3>¿Que es manos hablan?</h3>
		<p>
			Una pàgina web con recursos para personas que quieran aprender el
			lenguaje de señas colombiana.
		</p>

		<h3>¿Que es el lenguaje de señas?</h3>
		<p>
			El lenguaje de señas es un lenguaje visual que se utiliza para
			comunicarse con personas sordas o con problemas de audición. El
			lenguaje de señas es un lenguaje completo con su propia gramática y
			sintaxis, que es diferente del español.
		</p>
	</div>
</PageLayout>
